html {
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Arial, sans-serif;
  z-index: 1;
}


h1 {
  color: rgba(215, 40, 40, 0.9);
  font-weight: bolder;
  font-size: 67px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);

}

h2 {
  color: #456783;
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px #ff0000;
  text-shadow: 1px #ff0000;
}

p {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

.gameArea {
  display: flex;
  justify-content: space-around;
  margin: 3em;
  z-index: 5;
}

#player1 {
  text-align: right; 
}

.playerName {
  font-size: 35px;
  color: rgba(0, 0, 0, 1);
  font-weight: bolder;
  text-shadow: 1px #ff0000;
  text-shadow: 1px #ff0000;
}




.resourceTitel div{
  display: flex;
  justify-content: center;
} 

#startGameButton {
  display: flex;
  justify-content: center;
}
#startGameButton button {
  height: 3em;
  width: 10em;
  font-size: 2em;
  color: blue;
  background-color: beige;
}

.chars {
  margin: 1em;
  background-color: blue;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: bold;
}

#mouseOverDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  background-size: 2em;
  
  background: rgba(0, 0, 0, 0.8);
}

.redResources {
  background-image: url("../img/neutralResource.jpg");
  background-size: 80px;
  position: relative;
  color: white;
  font-weight: bold;
}

.yellowResources {
  background-image: url("../img/neutralResource.jpg");
  background-size: 80px;
  position: relative;
  color: white;
  font-weight: bold;
}

.blueResources {
  background-image: url("../img/neutralResource.jpg");
  background-size: 80px;
  position: relative;
  color: white;
  font-weight: bold;
}
.whiteResources {
  background-image: url("../img/neutralResource.jpg");
  background-size: 80px;
  position: relative;
  color: white;
  font-weight: bold;
}
.totalResources {
  background-image: url("../img/neutralResource.jpg");
  background-size: 80px;
  position: relative;
  color: white;
  font-weight: bold;
}
.skills img{
  height: 80px;
  width: 100px;
  border-spacing: 2px;
  border-color: white;
}
.avatar img{
  height: 120px;
  width: 100px;
}

.charFlexPlayer0, .charFlexPlayer1 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}


.beeingAttackedQueue {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
.charAndQueueFlexPlayer0 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}