html {
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Arial, sans-serif;
  z-index: 1;
}


h1 {
  color: rgba(215, 40, 40, 0.9);
  font-weight: bolder;
  font-size: 67px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);

}

h2 {
  color: #456783;
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px #ff0000;
  text-shadow: 1px #ff0000;
}

p {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

.gameArea {
  display: flex;
  justify-content: space-around;
  margin: 3em;
  z-index: 5;
}

.chars {
  margin: 1em;
  
}

#player1 span, #player2 span {
  color: white;
  font-weight: bold;
  background-color: black;
  z-index: 8;
}

.playerName {
  font-size: 35px;
}

/*#player1, #player2 {
  background-color: darkblue;
  background-size: cover;
}*/

#player2 {
  text-align: right; 
}


.resourceTitel div{
  display: flex;
  justify-content: center;
} 

#startGameButton {
  display: flex;
  justify-content: center;
}
#startGameButton button {
  height: 3em;
  width: 10em;
  font-size: 2em;
  color: blue;
  background-color: beige;
}

#startGameButton {
  display: flex;
  justify-content: center;
}
#startGameButton button {
  height: 3em;
  width: 7em;
  font-size: 1em;
  color: blue;
  background-color: beige;
}


#player0Chars .chars span {
  opacity: 0.8;
}

#player1Chars .chars span {
  opacity: 0.8;
}

.gameAreaInactiv {
  display: flex;
  justify-content: space-around;
  margin: 3em;
  opacity: 0.8
}
#mouseOverDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  opacity: 1;
  background-size: 2em;
  background-color: blue;
}

.redResources {
  background-image: url("file://h:/projekte/ironhackarena/img/neutralResource.jpg");
  background-size: 80px;
  position: relative;
  color: white;
  font-weight: bold;
}

.yellowResources {
  background-image: url("file://h:/projekte/ironhackarena/img/neutralResource.jpg");
  background-size: 80px;
  position: relative;
  color: white;
  font-weight: bold;
}

.blueResources {
  background-image: url("file://h:/projekte/ironhackarena/img/neutralResource.jpg");
  background-size: 80px;
  position: relative;
  color: white;
  font-weight: bold;
}
.whiteResources {
  background-image: url("file://h:/projekte/ironhackarena/img/neutralResource.jpg");
  background-size: 80px;
  position: relative;
  color: white;
  font-weight: bold;
}
.totalResources {
  background-image: url("file://h:/projekte/ironhackarena/img/neutralResource.jpg");
  background-size: 80px;
  position: relative;
  color: white;
  font-weight: bold;
}
.skills img{
  height: 80px;
  width: 100px;
  border-spacing: 2px;
  border-color: white;
}
.avatar img{
  height: 120px;
  width: 100px;
}